<!-- MainLayout.razor -->
@inherits LayoutComponentBase

<PageTitle>DatingApp</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            <PageTitle>DatingApp</PageTitle>
            @Body
        </article>
    </main>
</div>
