@page "/login"
@using Godklasse.Pages;
@using Godklasse.Data;
@using Godklasse.Shared;
@inherits LayoutComponentBase
@inject UserService UserService
@inject NavigationManager NavigationManager


<PageTitle>Log ind</PageTitle>

<h3>Log ind</h3>

<div class="form-group">
    <label for="FirstName" class="control-label"> Brugernavn</label>
    <input for="FirstName" class="form-control" @bind="@obj.UserName" />
</div>
<div class="form-group">
    <label for="FirstName" class="control-label"> Password</label>
    <input for="password" class="form-control" @bind="@obj.Password" />
</div>

<input type="button" class="btn btn-primary" @onclick="@LogInd" value="Login" />

@code {
    User obj = new User();

    protected async void LogInd()
    {
        NavigationManager.NavigateTo("/usermanagement");
    }
}